body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    background-image: url('nasa-hubble-space-telescope-v8EsOgRXVkQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;

}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px;
}


button {
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px;
    margin: 10px;
}

#user-section {
    display: flex;
    flex-direction: column;
    max-width: 500px;

}

form {
    padding: 5px;
    margin: 10px;
    
}

label {
    padding: 5px;
    font-size: small;
    display: inline-block;
}

input {
    color: rgb(187, 0, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input::placeholder {
    color: rgb(187, 0, 255);
}

#data-section {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;

}

#form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

#header a {
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-image{
    width: 350px; 
    height: auto; 
}

#logo-image {
    width: 100px;
    height: auto;
}

#footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

#footer a {
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}


#horoscope-info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
